<div class="container">
    <h1>{{grade}}</h1>
    <div class="answer-box">
        <p>The correct answer is:</p>
        <p class="correct-answer">{{correct}}</p>
        <a href="{{{next}}}" class="button">Next</a>
    </div>

</div>