<div class = "container">
    <div class="navigation">
        <a href="#" class="button back">Back</a>
        <a href="#" class="button help">Help</a>
    </div>
    <div class="question-box">
        <h2 class="question">{{question}}</h2>
    </div>
    <ul class="question-options">
        {{{options}}}
    </ul>
</div>