<div class = "container" id="home-background">
    <div id="home-container">
        <img src="/images/ohThePlacesYoullKnow.png" width="800px"/><br>
        <h1>{{welcome}}</h1>
        <a href="{{start}}" class="button">Start</a>
        {{!-- Could have resume button/functionality --}}
    </div>
</div>