/*LAYOUT*/
body {
    height: 100%;
    margin: 0px !important;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.container {
    min-height: 1000px;
    max-height: 100%;
    padding: 5rem;
    background-color: #007eb5;
    background-image: url(/images/home-background.jpg);
    background-size: 100%;
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;

}

#home-background.container {
    text-align: left;
}

#home-container {
    text-align: center;
    width: 100%;
}

#home-container #welcome-logo {
    width: 800px;
}

#home-container img {
    width: 800px;
}

#home-container a.button {
    font-size: 2rem;
    border: 3px solid #000;
}

.question-box {
    background-color: #333333;
    border: 3px solid #000;
    padding: 0 1rem;
}

ul.question-options {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 0px;
    margin-top: 35px;  
}


ul.question-options li {
    list-style: none;
    font-family: peachy-keen-jf, sans-serif;
    background-color: #fff;
    padding: 1rem 0rem;
    border: 3px solid #333;
    /* display: grid; */
    grid-template-columns: 100px auto;
    justify-content: center;
    align-content: center;
    /* border-radius: 60px 0px 0px 60px; */
    height: 44px;
}

ul.question-options li:nth-child(1)::before {
    content: 'A';
}

ul.question-options li:nth-child(2)::before {
    content: 'B';
}

ul.question-options li:nth-child(3)::before {
    content: 'C';
}

ul.question-options li:nth-child(4)::before {
    content: 'D';
}

ul.question-options li:before {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    border: 12px #dd0b20 solid;
    float: left;
    /* position: absolute; */
    background-color: #e6e6e6;
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    align-items: center;
    margin-top: -41px;
    margin-left: -39px;
    font-size: 4.5rem;
}

ul.question-options li a {
    font-size: 1.7rem;
    margin-top: 20px;
    margin-left: 20px;
    color: #333;
}

ul.question-options li a:active {
    color: #dd0b20;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.navigation {
    display: block;
    margin-bottom: 35px;
}

a.button.help {
    float: right;
}

.answer-box {
    background-color: #fff;
}

.answer-box {
    color: #333;
    font-family: peachy-keen-jf, sans-serif;
    padding: 2rem;
    border: 3px #333 solid;
    border-radius: 8px;
}

.answer-box p {
    font-size: 1.5rem;
}

p.correct-answer {
    font-size: 2rem;
    margin-bottom: 35px;
}

.answer-box h1 {
    color: #dd0b20;
    margin: 0;
}

/*TYPOGRAPHY*/
h1, h2, h3, h4,h5, h6, a.button {
    font-family: peachy-keen-jf, sans-serif;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

h1 {
    font-size: 5rem;
}

h1.onboarding {
    font-size: 1rem;
}


/*LINKS BUTTONS*/

a {
    text-decoration: none;
}

a.button {
    background-color: #dd0b20;
    border: 3px solid #000;
    color: #fff;
    padding: .5rem 1rem;
}


